/coverage
/demo/dist
/es
/lib
/node_modules
/umd
npm-debug.log*
/yarn.lock
/.storybook
/css
/docs
/images
/interfaces
/js
/stories
/.babelrc
/.eslintignore
/.eslintrc
/.flowconfig
/.travis.yml
/.gitignore
/.npmignore
